/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";



.container{
    font-family: 'Koulen', cursive;
    background: #262626;
}
 

.btn{
    box-sizing: border-box;

}

.container{
    margin-top: 50px;
 
}

span{
    font-size: 50px;
}
